@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

  body {
    font-size: 1.6rem;
    font-family: 'Karla', sans-serif;
  }

 
  section {
    scroll-margin-top: 10rem;
  }

  .mapboxgl-canvas{
    height:100%
  }

  p {
    font-weight: 400;
  }

  strong {
    font-weight: 500;
  }
}
